body{
    background-color:aliceblue;
  }
  .head-block{
    width:100%;
    display:flex;
    gap:10px;
  }
  img{
    width:100px;
    height:100px;
  }
  .head-title{
    margin-left:50px;
  }
  p{
    margin-top:10px;
  }
  .importance{
    display:flex;
    flex-direction:column;
    justify-items:center;
    gap:20px;
  }
  .saffron{
    background-color:orange;
    width:100px;
    height:100px;
  }
  .white{
    background-color:white;
    width:100px;
    height:100px;
  }
  .green{
    background-color:green;
    width:100px;
    height:100px;
  }
  .a{
    display:flex;
    flex-direction:row;
    border: solid black 1px;
    padding:10px;
    border-radius:5px;
  }
  .b{
    display:flex;
    flex-direction:row;
    border: solid black 1px;
    padding:10px;
    border-radius:5px;
  }
  
  .c{
    display:flex;
    flex-direction:row;
    border : solid black 1px;
    padding:10px;
    border-radius: 5px;
  }
  .d{
    display:flex;
    flex-direction:row;
    border: solid black 1px;
    padding:10px;
    border-radius:5px;
  }
  
  .text{
    margin-left:40px;
    margin-top:20px;
    text-align:center;
  }
  .line{
    margin-top: 50px;
    border: solid;
  }
  .tag{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  
  .contact{
    color:black;
  }
    
    